.navbar.navbar-default {
    background-color: #5cb85c !important;
    border-color: #b5d9b5 !important;
}

.navbar-default .navbar-brand {
    color: #fff !important;
}

#page-wrapper {
    padding: 30px 30px !important;
}

.sidebar {
	width: 190px !important;
}

@media (min-width: 768px) {
	#page-wrapper {
		margin: 0 0 0 190px !important;
	}
}